@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center h-50">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <img class="d-block w-100" height="400" src="~/images/emptyClass.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="text-dark bg-light">Plateforme pour marquer la présence des etudiants dans les séances à distance</h4>
                </div>

            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="400" src="~/images/person.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="text-dark bg-light">Plateforme pour les professeur et le suivi de l'assiduité des étudiants</h4>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" height="400" src="~/images/books.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="text-dark bg-light">Plateforme développer pour le miniprojet de l'asp.net core</h4>
                </div>
            </div>

        </div>
    </div>
</div>
